:root {
    --primary: #6366f1;
    --secondary: #8b5cf6;
    --accent: #06b6d4;
    --neutral-50: #f8fafc;
    --neutral-900: #0f172a;
  }

.goal {
  
  background-color: #f0f0f0;
  border: 1px solid #070000;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 4px 4px;
  justify-content: center;
}

    * {
        font-family: 'Noto Sans JP', sans-serif;
    }
    
